# -FrontPage-
RewriteEngine On
RewriteRule bits_modified - [L]
# Catch iPhone-users first, easiest to discover
#RewriteCond %{HTTP_USER_AGENT} .*Mobile.*Safari
#RewriteRule ^[\./](.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} !(.*Opera\ Mini.*)
#RewriteRule ^[\./](.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} !(.*SymbianOS.*)
#RewriteRule ^[\./](.*) - [E=SITEACCESS:iphone]

#RewriteCond %{HTTP_USER_AGENT} "acs|alav|alca|amoi|audi|aste|avan|benq|bird|blac|blaz|brew|cell|cldc|cmd-" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} "dang|doco|eric|hipt|inno|ipaq|java|jigs|kddi|keji|leno|lg-c|lg-d|lg-g|lge-" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT}  "maui|maxo|midp|mits|mmef|mobi|mot-|moto|mwbp|nec-|newt|noki|opwv" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} "palm|pana|pant|pdxg|phil|play|pluc|port|prox|qtek|qwap|sage|sams|sany" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} "sch-|sec-|send|seri|sgh-|shar|sie-|siem|smal|smar|sony|sph-|symb|t-mo" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} "teli|tim-|tosh|tsm-|upg1|upsi|vk-v|voda|w3cs|wap-|wapa|wapi" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} "wapp|wapr|webc|winw|winw|xda|xda-" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} "up.browser|up.link|windowssce|iemobile|mini|mmp" [NC,OR]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} "symbian|midp|wap|phone|pocket|mobile|pda|psp" [NC]
#RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} !macintosh [NC]
#RewriteRule (.*) - [E=SITEACCESS:iphone]

RewriteCond %{HTTP_USER_AGENT} "acs|alav|alca|amoi|audi|aste|avan|benq|bird|blac|blaz|brew|cell|cldc|cmd-"  [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT} "dang|doco|eric|hipt|inno|ipaq|java|jigs|kddi|keji|leno|lg-c|lg-d|lg-g|lge-" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT}  "maui|maxo|midp|mits|mmef|mobi|mot-|moto|mwbp|nec-|newt|noki|opwv" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT} "palm|pana|pant|pdxg|phil|play|pluc|port|prox|qtek|qwap|sage|sams|sany" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT} "sch-|sec-|send|seri|sgh-|shar|sie-|siem|smal|smar|sony|sph-|symb|t-mo" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT} "teli|tim-|tosh|tsm-|upg1|upsi|vk-v|voda|w3cs|wap-|wapa|wapi" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT} "wapp|wapr|webc|winw|winw|xda|xda-" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT} "up.browser|up.link|windowssce|iemobile|mini|mmp" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
RewriteCond %{HTTP_USER_AGENT} "symbian|midp|wap|phone|pocket|mobile|pda|psp" [NC]
RewriteRule (.*) - [E=SITEACCESS:iphone]
#RewriteCond %{HTTP_USER_AGENT} !macintosh [NC]
#RewriteRule (.*) - [E=SITEACCESS:iphone]

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
#AuthName sandbox.speedhorse.com
#AuthUserFile /home/shsand/public_html/_vti_pvt/service.pwd
#AuthGroupFile /home/shsand/public_html/_vti_pvt/service.grp