        <IfModule mod_php5.c>
                php_admin_flag safe_mode Off
                php_admin_value register_globals 0
                php_value magic_quotes_gpc 0                php_value magic_quotes_runtime 0
                php_value allow_call_time_pass_reference 0 
        </IfModule>


        <IfModule mod_rewrite.c>

                RewriteEngine On

                # Google and testing
                Rewriterule ^/googlehostedservice\.html$ - [L]
                Rewriterule ^/testing/.* - [L]
				Rewriterule ^/magazines/.* - [L]
				Rewriterule ^/images/.* - [L]

                # Dynamic menu control
                RewriteRule content/treemenu/?$ /index_treemenu.php [L]


                # Standard stuff
                Rewriterule ^/share/.* - [L]
                Rewriterule ^/var/storage/.* - [L]
                Rewriterule ^/var/[^/]+/storage/.* - [L]

                #RewriteRule ^/var/cache/texttoimage/.* - [L]
                #RewriteRule ^/var/[^/]+/cache/texttoimage/.* - [L]

                RewriteRule ^/var/([^/]+/)?cache/(texttoimage|public)/.* - [L]



                RewriteRule ^/var/[^/]+/cache/(flash|lib|stylesheets|images|flv|javascripts?)/.* - [L]
                RewriteRule ^/var/[^/]+/cache/public/.* - [L]

                Rewriterule ^/design/[^/]+/(stylesheets|images|flash|javascript|javascripts|flv)/.* - [L]
                #Rewriterule ^/extension/[^/]+/design/[^/]+/(stylesheets|images|javascript|javascripts|flv)/.* - [L]
                Rewriterule ^/extension/[^/]+/design/[^/]+/(stylesheets|images|javascript|flash|flv|lib?)/.* - [L]

                Rewriterule ^/extension/admin2pp/share/icons/crystal-admin-opt43/.* - [L]

                Rewriterule ^/packages/styles/.+/(stylesheets|images|flv|javascripts?)/[^/]+/.* - [L]
                RewriteRule ^/packages/styles/.+/thumbnail/.* - [L]
                RewriteRule ^/favicon\.ico - [L]
                RewriteRule ^/robots\.txt - [L]

                RewriteRule .* /index.php
				

         </IfModule>

