/* PAGELAYOUT CSS - 20060522 */

/* FULL PAGE */

div#page
{
    width: 980px; /* This can be changed to any fixed width if desired */
    margin: 0 auto 0 auto; /* General method for centering content if fixed page width, for other browsers than IE */
    text-align: left; /* Reset IE method for centering page, to stop all other content on the page from centering */
	height: 2080px;
	background: url(../images/main_content_background.png) no-repeat;
	
	
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}
/* HEADER */
/*
div#header
{
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.25em;
    background-color: #FFFFFF;
    padding-bottom: 0.75em;
}

div#header ul
{
    margin: 0;
    padding: 0.25em 0 0.25em 0;
}

div#header ul li
{
    list-style-type: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    float: left;
    background-image: none;
}

div#logo
{
    float: left;
    margin: 1em 0 0 1.5em;
}*/

/* =Header
-------------------------------------------------------------- */

#branding {
	height: 162px;
	position: relative;
	color: white;
}
#site_title {
	position: absolute;
	top: 31px;
	left: 0;
	padding-left: 14px;
}
#site_title a {
	display: block;
	width: 590px;
	height: 115px;
	background: url(../images/speedhorse_logo.png);
	background-repeat: no-repeat;
	text-indent: -9000px;
}
#utility_menu {
	width: 376px;
	height: 30px;
	position: absolute;
	top: 38px;
	right: 0px;
	line-height: 19px;
}
#utility_menu ul {
	position: absolute;
	right: 12px;
	top: 0;
}
#utility_menu li {
	float: left;
	padding-left: 25px;	
	background-image: url(../images/utility_tick.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;	
}
#utility_menu li a {
	font-family: Gotham-Medium, Arial;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
#utility_menu input[type=text] {
	height: 16px;
	width: 145px;
	padding: 0;
	font-size: 11px;
	text-indent: 5px;
}
#utility_menu input[type=submit] {
	width: 0;
	padding: 0;
	border: 0;
	margin: 0;
}
#fb_bullet {
	width: 16px;
	height: 19px;
	float: left;
	margin-right: 2px;
	background-image: url(../images/facebook_logo_box.png);
	background-repeat: no-repeat;
	background-position: 0 4px;
}
#print_edition {
	width: 197px;
	height: 107px;
	display: block;
	background: url(../images/subscribe_speedhorse.png);
	position: absolute;
	right: 6px;
	bottom: -27px;
}

/* =Menu
-------------------------------------------------------------- */

#navigation {
	width: 980px;
	height: 27px;
	margin: 0 auto;
}
#navigation ul {
	margin: 0;
}
#navigation li {
	height: 30px;
	float: left;
	padding-left: 6px;
}
#navigation li.current_page {
	background: url(../images/bg_left.png) no-repeat left top;
}

#navigation li.current {
	background: url(../images/bg_left.png) no-repeat left top;
}

#navigation a {
	color: white;
	display: block;
	line-height: 27px;
	padding: 0 22px 0 16px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: FuturaStd-Bold, Arial;
}
#navigation a.current_page {
	color: #0e4281;
	background: url(../images/bg_right.png) no-repeat right top;
}

#navigation a.current {
	color: #0e4281;
	background: url(../images/bg_right.png) no-repeat right top;
}
/* end of menu */

/*div#usermenu
{
    background-image: url(../images/header_bg.png);
    background-position: top left;
    background-repeat: repeat-x;
    height: 25px;
}

div#languages
{
    background-image: url(../images/header_bg_left.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    width: 24%;
    height: 25px;
    font-size: 0.85em;
}

div#languages ul li
{
    margin-left: 5px;
}

div#languages a
{
    padding-right: 2px;
}

div#links
{
    background-image: url(../images/header_bg_right.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    float: right;
    clear: right;
    text-align: right;
    padding-right: 0;
    font-size: 0.85em;
    font-weight: bold;
    height: 25px;
    width: 75%;
}

div#links ul li
{
    float: right;
}

div#links a
{
    color: #515346;
    border-left: 1px solid #CECEC2;
    padding-left: 8px;
    padding-right: 8px;
    height: 18px;
}
*/
/*
div#searchbox
{
    width: 20em; /* Needs to be sufficient width to fit both text input and submit button to avoid Konqueror breaking the line between them 
    margin-top: 1.75em;
    margin-right: 1em;
    text-align: right;
    float: right;
}

input#searchtext
{
    border: 1px solid #A5ACB2;
    font-size: 0.85em;
    width: 12em;
}

input#searchbutton
{
    margin-top: -0.1em;
}*/

/* TOP MENU */

div#topmenu
{
    margin: 0;
    padding: 0 0.25em 0 0.2em;
    background-color: #FFFFFF;
}

div#topmenu ul
{
    background-image: url(../images/topmenu_bg.png);
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    float: left;
    width: 100%;
}

div#topmenu ul li
{
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0.85em;
    white-space: nowrap;
}

div#topmenu ul li
{
    font-weight: bold;
    background-image: url(../images/topmenu_li_bg.png);
    background-position: center right;
    background-repeat: no-repeat;
}

div#topmenu ul li a
{
    display: block;
    color: #4F5241;
    line-height:22px;
    margin: 0 0 6px 0;
    padding: 5px 15px 0 15px;
    text-decoration: none;
}

div#topmenu ul li.selected a, div#topmenu ul li a:hover
{
    border-bottom: 3px solid #ABAB9E;
    margin: 0 0 3px 0;
}

div#topmenu ul li.lastli
{
    background-image: none;
}

div#topmenu ul#topmenu-secondlevel
{
    background-image: none;
    background-color: #F5F6F1;
    border-bottom: 1px solid #E9E9E1;
}

div#topmenu ul#topmenu-secondlevel li
{
    background-image: none;
    font-weight: normal;
}

div#topmenu ul#topmenu-secondlevel li.selected
{
    font-style: italic;
}

div#topmenu ul#topmenu-secondlevel li.selected a, div#topmenu ul#topmenu-secondlevel li a:hover
{
    color: #111;
    border-bottom: none;
    margin-bottom: 6px;
}

div#topmenu ul#topmenu-secondlevel li a
{
    color: #555;
    /*text-decoration: underline;*/
}

/* PATH */

div#path
{
    padding: 0.5em 0.5em 0.5em 2em;
    font-size: 0.85em;
}

div#path p
{
    margin: 0;
}

/* COLUMNS */

div#columns
{
  /* padding: 0 0 0 0;*/
}

div.nosidemenu div#columns
{
   padding-left: 0;
}

div.noextrainfo div#columns
{
   padding-right: 0;
}

/* SIDE MENU */

div#sidemenu-position
{
    width: 300px;
    margin-left: 2px;
    float: left;
    display: inline; /* Fix for IE double margin bug */
}

div.nosidemenu div#sidemenu-position
{
    display: none;
}

div#sidemenu ul
{
    list-style-type: none;
    margin: 0.5em 0 0.5em 0;
}

div#sidemenu ul li
{
    margin: 0.25em 0 0.25em 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-image: none;
}

div#sidemenu div.box div.box-content
{
    padding-left: 0.75em;
    padding-right: 0;
}

div#sidemenu h4
{
    margin: 0;
}

div#sidemenu h4 a
{
    color: #525345;
    text-decoration: none;
}

div#sidemenu ul.menu-list a.selected
{
    font-weight: bold;
}

div#sidemenu ul.submenu-list
{
    list-style-type: none;
    margin-left: 1em;
}

div#sidemenu ul.submenu-list a.selected
{
    font-weight: bold;
}

div#sidemenu ul.menu-list li a, div#sidemenu ul.submenu-list li a
{
    background-image: url(../images/sidemenu_bullet.png);
    background-position: 0.2em 0.5em;
    background-repeat: no-repeat;
    padding-left: 18px;
    display: block;
    font-size: 0.85em;
}

/* MAIN AREA */

div#main-position
{
    width: 640px;
    float: left;
	height:1850px;
	position: relative;
	/*padding: 20px;
	padding-left:20px;*/
}

#colophon_wrap {
	width: 940px;
	height: 227px;
	clear: both;
	position: relative;	
}
#colophon {
	width: 980px;
	/*margin-left:140px;*/
	position: absolute;
	height: 227px;
	clear: both;
	text-align:left;
	top: 2050px;
	background: url(../images/footer_bg2.png) no-repeat;
}
#colophon form {
	width: 145px;
	height: 110px;
	float: left;
	display: block;
	margin: 101px 0 0 28px
}
#colophon input[type=text] {
	width:143px;
	height: 12px;
	margin: 0;
	padding: 0;
	border: none;
}
#colophon #submit_subscribe {
	width: 50px;
	height: 11px;
	display: block;
	float: right;
	font-family: Gotham-Medium;
	font-size: 10px;
	line-height: 10px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}
#colophon h2 {
	font-family: Dispatch-Bold;
	font-size: 22px;
	text-transform: uppercase;
	color: white;
}
#colophon h4 {
	font-family: Gotham-Medium;
	font-weight: normal;
	line-height: 16px;
	margin-bottom: 5px;
	word-spacing: 1.5px;
	text-transform: uppercase;
	color: white;
}
.colophon_cols {
	display: block;
	float: left;
	margin-left: 32px;
	margin-top: 65px;
	line-height: 17px;
}
.colophon_cols h6 {
	text-transform: uppercase;
	font-size: 10px;
	font-family: Gotham-Medium;
	font-weight: normal;
	color: #0e4281;
}
#credits_wrap {
	width: 980px;
	height: 18px;
	margin: 0 auto;
}
#sabre_copyright {
	color: white;
	float: left;
	clear: none;
	font-size: 11px;
	text-transform: uppercase;
	font-family: Gotham-Medium;
	margin-left: 20px;
	font-weight: normal;
	margin-top: 15px;
}
#sabre_copyright a{
	color: white;
	text-decoration:none;
}
#ciplex_credit {
	color: white;
	float: right;
	clear: none;
	font-size: 11px;
	text-transform: uppercase;
	font-family: Gotham-Medium;
	margin-right: 20px;
	font-weight: normal;
	margin-top: 15px;
}


div#main
{

}

div.nosidemenu div#main-position
{
    margin-left: 2px;
}

div.noextrainfo div#main-position
{
    margin-right: 0;
}

/* EXTRA CONTENT */

div#extrainfo-position
{
    width: 14em;
    margin-right: -14em;
    float: left;
}

div.noextrainfo div#extrainfo-position
{
    display: none;
}

div#extrainfo
{

}



/* =Structure
-------------------------------------------------------------- */

/* The main structure */
#branding,
#navigation {
	margin: 0 auto 0 auto;
	width: 980px;
	
}
#main {
	/*margin: 0 auto 0 auto;
	width: 100%;*/
}

/* =Global Elements
-------------------------------------------------------------- */


ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
}
.section_title {
	font-family: Dispatch-Bold;
	color: #0e4281;
	text-transform: uppercase;
	margin: 26px 0;
}
.post {
	position: relative;
}
.post_thumbnail,
.post_content_image {
	float: left;
	margin-right: 10px;
}
.post h4,
.post h3,
.post h5 {
	clear: right;
	line-height: 1;
	margin-bottom: 4px;
	font-weight: normal;
}
.post h4,
.post h3 {
	text-transform: uppercase;
	color: #A40000;
	font-family: Gotham-Medium;
}
.post h4 {
	font-size: 9px;
}
.post h3 {
	font-size: 13px;
}
.post h5 {
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 5px;
}
.post h6 {
	font-family: Gotham-Medium;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	clear: right;
}
.post_excerpt {
	max-height: 108px;
	line-height: 18px;
	margin-top: 12px;
	overflow: hidden;
}
.more_link_wrap {
	height: 20px;
}
.more_link {
	color: #A40000;
	margin: 4px 2px 0 0;
	float: right;
	font-family: Gotham-Medium;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.post_meta {
	position: absolute;
	bottom: 0;
}

#footer {
	clear: both;
	width: 100%;
}

#footer {
	height: 210px;
	background: url(../images/bottom_bg.png);
	margin-top:20px;
	top:2050px;
}

<!-----------------------------Ashish CSS ------------------------------------------------------------------>


#dhtmlgoodies_slideshow {
	width: 599px;
	height: 448px;
	padding: 5px 5px 0 5px;
	/*background: url(http://localhost/ez45/images/rotator_background.png) no-repeat;*/
	position: relative;
	left: 5px;
}
#previewPane {
	position: relative;
	height: 337px;
}
#previewPane img {
	width: 599px;
	height: 337px;
}
#previewPane #largeImageCaptionWrap {
	width: 349px;
	height: 115px;
	padding-left: 214px;
	position: absolute;
	right: 0;
	z-index: 1;
	top: 173px;
	background: url(../images/caption_bg.png) no-repeat;
}
#largeImageCaptionWrap .more_link {
	color: white;
	position: absolute;
	bottom: 9px;
	right: 20px;
}
#previewPane h3 {
	font-family: Dispatch-Bold;
	font-size: 18px;
	color: white;
	margin: 12px 0 7px 0;
	text-transform: uppercase;
}
#previewPane #largeImageCaption {
	color: white;
	line-height: 17px;
	padding-right: 23px;
}
#slideshow_menu {
	display: block;
	height: 22px;
	background: url(../images/main_rotator_black_bar.png);
	position: relative;
}
#slideshow_menu li {
	float: left;
	height: 100%;
}
#slideshow_menu a {
	display: block;
	height: 21px;
	padding: 1px 20px 0 20px;
	font-family: Gotham-Medium;
	font-size: 10px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}
#slideshow_menu a:hover,
#slideshow_menu a.current_view  {
	background: url(../images/main_rotator_active_bar_blue.png);
}
#galleryContainer {
	height: 84px;
	position: relative;
	overflow: hidden;
}
#arrow_left {
	position: absolute;
	left: -15px;
	bottom: 21px;
	z-index: 10;
	background-color: transparent;
}
#arrow_right {
	position: absolute;
	right: -16px;
	bottom: 21px;
	z-index: 10;
	background-color: transparent;
}
#theImages {
	position: absolute;
	width: 100000px;
}
#theImages #slideEnd {
	float: left;
}
#theImages a {
	display: block;
	width: 113px;
	height: 79px;
	margin: 5px 5px 0 0;
	float: left;
	position: relative;
	text-decoration: none;
}
.thumb_frame {
	width: 115px;
	height: 86px;
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 9;
	background: url(../images/active_thumbnail_highlight_box.png) no-repeat;
	display: none;
}
#theImages a:first-child  .thumb_frame {
	display: block;
}
#theImages img {
	width: 113px;
	height: 79px;
}
.thumb_caption {
	width: 103px;
	height: 30px;
	padding: 3px 0 0 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 8;
	background: url(../images/thumb_caption_bg.png);
	color: white;
	line-height: 1.1;
}
#theImages .imageCaption {
	display: none;
}
#carousel_drop {
	width: 759px;
	height: 167px;
	position: absolute;
	left: -69px;
	top: 307px;
	z-index: 0;
	background: url(../images/carousel_drop_shadow.png);
}

#features {
	width: 609px;
	position: relative;
}
#features_ad_link {
	width: 230px;
	height: 28px;
	display: block;
	position: absolute;
	right: 0;
	top: -7px;
	
}
#features .post {
	width: 285px;
	height: 118px;
	margin-bottom: 10px;
	overflow: hidden;
}
#features .post h4 {
	margin-bottom: 2px;
}
#features .post h3 {
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 5px;
}
#features .post .post_excerpt {
	margin-top: 5px;
	line-height: 17px;
}
#blogs_preview_wrap {
	width: 609px;
	height: 334px;
	position: relative;
	/*top:530px;*/
	}
#blogs_preview {
	background: url(../images/blogs_preview.png) no-repeat;
	width: 634px;
	height: 300px;
	padding-left: 29px;
	padding-top: 34px;
	position: absolute;
	left: -29px;
	top: 0;
}
#blogs_preview .section_title {
	padding-left: 43px;
	margin: 0 0 18px 0;
}
#blogs_preview_ad_link {
	width: 175px;
	height: 20px;
	display: block;
	position: absolute;
	right: 15px;
	top: 35px;
}
#blogs_preview .post {
	width: 300px;
	height: 210px;
	margin-left: 20px;
	float: left;
}
#blogs_preview .post:first-child {
	margin-left: 0;
}
#blogs_preview  .post h5 {
	margin-top: 0;
}
#blogs_preview .post_meta h4 {
	margin-top: 3px;
	font-size: 10px;
}
.unattained_star {
	color: gray;
}
#bottom_content_wrap {
	position: relative;
	/*top:315px;*/
}
#racebottom_content_wrap {
	position: relative;
}

#left_bottom_panel {
	width: 305px;
	float:left;
}
#left_bottom_panel .section_title {
	margin-top: 0;
}
#left_bottom_panel .speedhorse_list {
	margin-bottom: 30px;
}
#left_bottom_panel .post h3,
#left_bottom_panel .post h4 {
	color: #0e4281;
}
#left_bottom_panel .post h3 {
	font-size: 14px;
	margin-bottom: 8px;
}
#left_bottom_panel .post h4 {
	font-size: 10px;
}
.speedhorse_list li {
	border-bottom: solid 1px #EBE4D4;
	padding: 9px 20px 11px 0;
	font-family: Gotham-Medium;
	font-size: 10px;
	line-height: 1.4;
	text-transform: uppercase;
	color: #A40000;
	background: url(../images/red_arrow.png) no-repeat 100% 50%;
}
.speedhorse_list li:first-child {
	border-top: solid 1px #EBE4D4;
}
#products_preview {
	width: 320px;
	position: absolute;
	left: 304px;
	top: 1380px;
}
#products_preview .section_title {
	margin: 0 0 25px 20px;
}
#products_preview div {
	float: left;
	margin-left: 20px;
	margin-bottom: 17px;
}
#products_preview h3 {
	font-size: 12px;
	margin-bottom: 3px;
}
#products_preview h6 {
	float: left;
	line-height: 1;
}
#products_preview span {
	float: right;
	line-height: 1;
	font-size: 10px;
}
#sidebar {
	float: left;
	
	overflow: hidden;
	width: 300px;
	height: 1841px;
	margin-left: 1px;
	position:relative;
}
#sidebar_site_link_1 {
	width: 300px;
	height: 75px;
	display: block;
	margin-bottom: 30px;
	background: url(../images/subscribe_now.png);
}
#sidebar_site_link_2 {
	width: 300px;
	height: 66px;
	display: block;
	background: url(../images/stallion.jpg);
}

#accordion_wrap {
	height: 453px;
}
#accordion * {
	font-family: Arial;
	line-height: 1.4;
	font-size: 10px;
	overflow: hidden;
}
#accordion .more_link {
	color: #A40000;
}
#accordion .more_link_wrap {
	height: 34px;
}
#accordion .ui-accordion-header {
	margin-top: 5px;
	height: 20px;
	text-indent: -1000px;
	border: none;
}
.ui-accordion-header > .ui-icon {
	display: none;
}
#accordion .ui-accordion-header:first-child {
	margin: 0;
}
#accordion .ui-accordion-header > a {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
#accordion h3.ui-state-active {
	height: 40px;
}
h3.ui-state-default #results {
	background: url(../images/racing_results_header_collapsed.png);
}
h3.ui-state-active #results {
	background: url(../images/racing_results_header_expanded.png);
}
h3.ui-state-default #leaderboards {
	background: url(../images/leaderboards_header_collapsed.png);
}
h3.ui-state-active #leaderboards {
	background: url(../images/leaderboards_header_expanded.png);
}
h3.ui-state-default #news {
	background: url(../images/news_brief_header_collapsed.png);
}
h3.ui-state-active #news {
	background: url(../images/news_brief_header_expanded.png);
}
h3.ui-state-default #share {
	background: url(../images/people_sharing_header_collapsed.png);
}
h3.ui-state-active #share {
	background: url(../images/people_sharing_header_expanded.png);
}
h3.ui-state-default #sales {
	background: url(../images/sales_header_collapsed.png);
}
h3.ui-state-active #sales {
	background: url(../images/sales_header_expanded.png);
}
#accordion .ui-accordion-content-active {
	padding: 10px;
	background: rgb(235, 227, 212);
	border: none;
	font-size: 10px;
	margin-top: 0;
	overflow: hidden !important;
	position: relative;
}
.tabs {
	padding: 0;
	border: none;
}
.tabs .ui-tabs-nav {
	padding: 0;
	border: none;
	background: rgb(235, 227, 212);
	border-radius: 0;
}
.tabs .ui-tabs-nav li {
	border: none;
}
#accordion .tabs .ui-tabs-nav li a {
	padding: 2px 10px 1px 10px;
	font-family: Gotham-Medium;
	font-size: 11px;
	text-transform: uppercase;
	color: #9c8c6f;
}
#accordion .tabs .ui-tabs-nav li.ui-state-active a {
	color: #0e4281;
}
.tabs .ui-tabs-nav li.ui-state-default {
	background-image: none;
	background-color: transparent;
}
.tabs .ui-tabs-nav li.ui-state-active {
	background-color: white;
}
.tabs > div li {
	line-height: 1.4;
	font-size: 10px;
	border-bottom: solid 1px #EBE4D4;
}
.tabs > div .results_pane li {
	height: 28px;
	padding: 4px 0 4px 22px;
	background: url(../images/numbers_sprite.gif) no-repeat;
}
.tabs > div .upcoming_pane li  {
	padding: 8px 0 8px 22px;
	background: url(../images/numbers_sprite.gif) no-repeat;
}
#leaderboards_tabs caption {
	font-weight: bold;
	border-bottom: solid 1px #EBE4D4;
	text-align: left;
	margin-bottom: 5px;
}
#leaderboards_tabs table {
	width: 100%;
	margin: 5px 0 8px 0;
}
#leaderboards_tabs .right_col {
	text-align: right;
}
#news_wrap #news_list,
#share_wrap #share_list {
	background: white;
	border-radius: 4px;
}
#share_wrap li,
#news_wrap li {
	border-top: solid 1px #EBE4D4;
	border-bottom: none;
	background-image: none;
	margin: 0 10px;
	padding: 10px 0;
}
#share_wrap li:first-child,
#news_wrap li:first-child {
	border-top: none;
}
#share_wrap li a,
#news_wrap li a {
	font-family: Gotham-Medium;
	color: #A40000;
	position: relative;
	top: 10px;
}
#share_wrap li a {
	top: 3px;
	font-size: 11px;
}
#share_wrap h6 {
	clear: none;
	position: relative;
	top: 3px;
}
#share_wrap p {
	text-transform: none;
	font-size: 12px;
	position: relative;
	top: 2px;
}
#share_wrap img,
#news_wrap img {
	float: left;
	margin-right: 10px;
	border-radius: 4px;
}
#share_wrap .more_link_wrap,
#news_wrap .more_link_wrap {
	height: 10px;
	position: relative;
	bottom: 10px;
	right: 10px;
}
#sales_wrap .more_link,
#share_wrap .more_link,
#news_wrap .more_link {
	margin: 0;
	line-height: 10px;
}
#sales_wrap .more_link_wrap {
	height: 10px;
	margin-top: 5px;
	position: relative;
	right: 10px;
}
#big_ad_1 {
	margin-top: 30px;
	margin-bottom: 24px;
	width: 300px;
	height: 100px;
	background: #EBE3D4 url(../images/smaller_ad.jpg) no-repeat center center;
}
.featured_partners {
	width: 90px;
	height: 90px;
	margin-left: 15px;
	float: left;
	background: #EBE3D4;
}
.featured_partners:first-child {
	margin-left: 0;
}
#calendar .section_title {
	padding-left: 18px;
	background: url(../images/calendar_icon_new.png) no-repeat 0 3px;
	margin-top: 34px;
	margin-bottom: 21px;
}
#featured_post_wrap {
	width:620px;
	min-height:222px;
	position: relative;
	padding:0 20px 0 0;
}
#featured_post_wrap .post_img {
	width:300px;
	height:auto;
	float:left;
}
#featured_post_wrap .post_content {
	width:300px;
	min-height:222px;
	float:right;
}
#featured_post_wrap .post_content h2 {
	width:300px;
	height:30px;
	float:left;
	font-size:18px;
	line-height:30px;
	text-transform:uppercase;
	font-family:'Dispatch-Bold';
	color:#0e4281;
}
#featured_post_wrap .post_content p {
	width:300px;
	float:left;
	margin:0 0 2px 0;
}
.read-more {
	float:right;
	font-size:10px;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
	color:#a40000;
}
#two_posts_wrap {
	position: relative;
	padding:0 20px 40px 0;
}
#two_posts_wrap .post {
	width:300px;
	height:186px;
	float:left;
	background-position:left top;
	background-repeat:no-repeat;
}
#two_posts_wrap .right_post { float:right; }
#two_posts_wrap .post a {
	width:300px;
	height:186px;
	float:left;
}
#two_posts_wrap .post h3 {
	width:280px;
	height:30px;
	line-height:30px;
	float:left;
	margin:158px 0 0 0;
	color:#ffffff;
	padding:0 10px 0 10px;
	font-family:'Dispatch-Bold';
	text-transform:uppercase;
	background:url('images/two_posts_title_bg.png') left top no-repeat;
}

/* =Calssifieds Detail Page / Product Details Page
-------------------------------------------------------------- */

#left_sidebar {
	width:200px;
	float:left;
	padding:10px;
	background-color:#ebe4d4;
	border-radius: 4px;
}
#left_sidebar_content {
	width:200px;
	float:left;
	background-color:#ffffff;
}
#left_sidebar .info {
	width:200px;
	float:left;
	padding:0 10px 10px 10px;
	margin:10px 0 0 0;
	border-bottom:1px solid #ebe4d4;
}
#left_sidebar .info form#price_search {
	width:200px;
	float:left;
	margin:6px 0 0 0;
	font-size:8px;
	color:#4c4b48;
}
#left_sidebar .info form#price_search span {
		padding:0 6px 0 6px;
		color:#4c4b48;
}
#left_sidebar .info form#price_search input {
	width:65px;
	height:16px;
	border:1px solid #ebe3d4;
	line-height:16px;
	font-size:10px;
	color:#4c4b48;
	padding:0 0 0 8px;
}
#left_sidebar .info h3 {
	width:200px;
	float:left;
	font-size:12px;
	text-transform:uppercase;
	color:#0e4281;
}
#left_sidebar .info ul {
	width:200px;
	float:left;
	margin:6px 0 0 0;
}
#left_sidebar .info ul li {
	width:100%;
	float:left;
	font-size:10px;
	color:#4c4b48;
	padding:0 0 0 14px;
	margin:4px 0 0 0;
	background:url('images/category_li_bg.jpg') left 4px no-repeat;
}
#left_sidebar .info ul li a { font-size:10px;color:#4c4b48; }
#right_content {
	width:620px;
	float:right;
}
#right_content h2 {
	width:620px;
	height:40px;
	line-height:40px;
	font-size:24px;
	font-family:'Dispatch-Bold';
	text-transform:uppercase;
	color:#0e4281;
}
#right_content h2.product { font-size:18px; }
#right_content h2.product .cart {
	float:right;
	font-size:12px;
	color:#a40000;
	font-weight:normal;
	font-family:'Gotham-Medium';
}
#right_content h2 .right-info {
	float:right;
	font-size:12px;
	text-transform:none;
	font-family:Arial, Helvetica, sans-serif;
}
#right_content h2 .right-info .price { color:#a40000;margin:0 0 0 80px; }
#right_content #product_top {
	width:620px;
	float:left;
	margin:8px 0 20px 0;
}
#right_content #product_top #product_images_wrap {
	width:310px;
	height:302px;
	float:left;
	padding:10px;
	background-color:#ebe4d4;
	border-radius: 4px;
}
#right_content #product_top #product_images {
	width:330px;
	height:302px;
	float:left;
}
#right_content #product_top #product_images #main_img {
	width:330px;
	height:240px;
	float:left;
	margin:0 0 6px 0;
}
#right_content #product_top #product_images #images {
	width:330px;
	height:56px;
	float:left;
}
#right_content #product_top #product_images #images img {
		margin:0 0 0 9px;
		float:left;
		width:70px;
		height:56px;
}
#right_content #product_top #product_images #images img.first { margin:0; }
#right_content #product_top #product_images #images img.last { margin:0 0 0 0 }
#right_content #product_top #product_buy_wrap {
	width:230px;
	height:300px;
	float:right;
	padding:10px;
	background-color:#ebe4d4;
	border-radius: 4px;
}
#right_content #product_top #product_buy {
	width:230px;
	height:300px;
	float:right;
	background-color:#ffffff;
}
#right_content #product_top #product_buy h3 {
	width:230px;
	height:46px;
	line-height:46px;
	float:left;
	font-size:18px;
	color:#a40000;
	margin:50px 0 0 0;
	font-family:'Gotham-Medium';
	font-weight:normal;
	text-align:center;
}
#right_content #product_top #product_buy h3 strike {
	color:#929292;
	font-size:14px;
}
#right_content #product_top #product_buy .option {
	/*width:230px;*/
	height:18px;
	float:left;
	margin:0 0 12px 0;
}
#right_content #product_top #product_buy .option span {
	/*width:110px;*/
	width:50px;
	height:18px;
	float:left;
	margin-right:5px;
	font-size:10px;
	line-height:18px;
	text-align:right;
	color:#a40000;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
	font-weight:normal;
}
#right_content #product_top #product_buy .option select,
#right_content #product_top #product_buy .option input {
	width:124px;
	float:left;
	height:16px;
	line-height:16px;
	font-size:10px;
	color:#929292;
	border:1px solid #ebe4d4;
	background-color:#ebe4d4;
}
#right_content #product_top #product_buy input#add_to_cart {
	/*width:165px;
	height:28px;*/
	width:150px;
	height:28px;
	/*float:left;
	margin:8px 0 0 74px;*/
    margin:8px 0 0 35px;
	font-size:16px;
	text-transform:uppercase;
	color:#ffffff;
	font-family:'Gotham-Medium';
	border:none;
	background:url('../images/add_to_cart.jpg') left top no-repeat;
}
#right_content #product_details {
	width:620px;
	float:left;
	margin:0 0 20px 0;
}
#product_details h3 {
	width:620px;
	height:30px;
	float:left;
	line-height:30px;
	font-size:14px;
	font-family:'Dispatch-Bold';
	text-transform:uppercase;
	color:#0e4281;
}
#product_details p {
	width:620px;
	float:left;
	line-height:16px;
}
#right_content #related_products {
	width:620px;
	float:left;
	margin:0 0 20px 0;
}
#related_products h3 {
	width:620px;
	height:30px;
	float:left;
	line-height:30px;
	font-size:14px;
	font-family:'Dispatch-Bold';
	text-transform:uppercase;
	color:#0e4281;
}
#related_products div.prod {
	width:140px;
	float:left;
	margin:0 46px 0 0;
}
#related_products div.last {
	margin:0;
}
#related_products div.prod h4 {
	width:140px;
	float:left;
	color:#a40000;
	font-size:12px;
	font-weight:normal;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
}
#related_products div.prod span {
	width:140px;
	float:left;
}
#related_products div.prod cite {
	width:140px;
	float:left;
	text-align:right;
	font-style:normal;
	font-size:10px;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
}
#right_content .info_bar {
	width:690px;
	height:20px;
	padding:5px;
	margin:0 0 18px 0;
	font-size:10px;
	color:#0e4281;
	text-transform:uppercase;
	background-color:#eae3d9;
}
#right_content .info_bar .left-area {
	width:150px;
	float:left;
}
#right_content .info_bar .left-area a {
	padding:0 16px 0 22px;
	font-size:10px;
	color:#0e4281;
	line-height:20px;
	text-transform:uppercase;
	
}
#right_content .info_bar .left-area a.email { background:url('images/email.jpg') left 1px no-repeat; }
#right_content .info_bar .left-area a.print { background:url('images/printer.jpg') left 1px no-repeat; }
#right_content .info_bar .social {
	width:450px;
	float:right;
	text-align:right;
}
#right_content #content_wrap {
	width:700px;
}
#content_wrap #sidebar_content {
	width:246px;
	float:left;
}
#content_wrap #sidebar_content div.contact_info {
	width:236px;
	float:left;
	padding:10px 0 0 10px;
}
#content_wrap #sidebar_content div.contact_info h3 {
	width:236px;
	float:left;
	font-size:10px;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
}
#content_wrap #sidebar_content div.contact_info span {
	width:230px;
	float:left;
	color:#a40000;
	padding:10px 0 0 6px;
}
#content_wrap #sidebar_content div.contact_info span a { color:#a40000; }
#content_wrap #main_content {
	width:434px;
	float:right;
}
#content_wrap #main_content p {
	margin:0 0 20px 0;
	line-height:16px;
}

/*=News Details Page + Blog Details Page aaaaaaa
-------------------------------------------------------------- */

#blog_directory {
	width:610px;
	float:left;
	font-family:'Gotham-Medium';
	padding:16px 0 16px 10px;
	border-top:1px solid #dcd5c9;
	border-bottom:1px solid #dcd5c9;
	margin-bottom:15px;
}
#blog_directory h4 {
	float:left;
	font-size:12px;
	color:#252525;
	text-transform:uppercase;
}
#blog_directory a {
	font-family:'Gotham-Medium';
	color:#a40000;
	font-size:10px;
	margin-left:30px;
	text-transform:uppercase;
}
#the_post {
	width:620px;
	float:left;
	padding-bottom:18px;
	border-bottom:1px solid #dfd6cb;
	margin-bottom:28px;
}
#the_post h2 {
	width:620px;
	float:left;
	font-size:24px;
	color:#0e4281;
	text-transform:uppercase;
	font-family:'Dispatch-Bold';
	line-height:28px;
}
#the_post h2 a {
	font-size:24px;
	color:#0e4281;
	text-transform:uppercase;
	font-family:'Dispatch-Bold';
	line-height:28px;
}
#the_post .post-info {
	width:620px;
	float:left;
	font-size:10px;
	color:#252525;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
	line-height:16px;
	margin-bottom:10px;
}
#the_post .large { font-size:12px; }
#the_post .info_bar {
	width:620px;
	height:20px;
	float:left;
	padding:5px;
	margin:0 0 10px 0;
	font-size:10px;
	color:#0e4281;
	text-transform:uppercase;
	background-color:#eae3d9;
}
#the_post .info_bar .left-area {
	width:150px;
	float:left;
}
#the_post .info_bar .left-area a {
	padding:0 16px 0 22px;
	font-size:10px;
	color:#0e4281;
	line-height:20px;
	text-transform:uppercase;
	
}
#the_post .info_bar .left-area a.email { background:url('../images/email.jpg') left 1px no-repeat; }
#the_post .info_bar .left-area a.print { background:url('../images/printer.jpg') left 1px no-repeat; }
#the_post .info_bar .social {
	width:450px;
	float:right;
	text-align:right;
}
#the_post #the_post_content {
	width:620px;
	float:left;
}
#the_post #the_post_content h3 {
	font-size:16px;
	color:#a40000;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
	line-height:36px;
}
#the_post #the_post_content h3 span {
	font-size:10px;
	color:#252525;
	float:right;
}
#the_post #the_post_content .float_img_left {
	float:left;
	margin:0 10px 10px 0;
}
#the_post #the_post_content .float_img_right {
	float:right;
	margin:0 0 10px 10px;
}
#the_post #the_post_content p {
	width:100%;
	line-height:20px;
	margin:0 0 24px 0;
}

#comments {
	width:620px;
	position:relative;
}
#comments h2 {
	width:620px;
	float:left;
	color: #0E4281;
    font-family:'Dispatch-Bold';
    margin: 26px 0;
    text-transform: uppercase;
}
#comments form {
	width:600px;
	float:left;
	padding:8px 10px 8px 10px;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	background-color:#f2f2f2;
}
#comments form #form_avatar {
	width:50px;
	height:50px;
	float:left;
}
#comments form #form_right {
	width:542px;
	float:right;
}
#comments form #form_right textarea {
	width:530px;
	height:24px;
	float:left;
	padding:5px;
	font-size:12px;
	color:#777777;
	margin:0 0 4px 0;
	border:1px solid #bdc7d8;
}
#comments form #form_right #form_right_bottom {
	width:542px;
	float:left;
	font-size:12px;
	color:#777777;
}
#comments form #form_right #form_right_bottom label {
	width:124px;
	float:left;
	font-size:11px;
	color:#777777;
}
#comments form #form_right #form_right_bottom .posting_as {
	width:340px;
	float:left;
	text-align:right;
	font-size:11px;
	color:#777777;
}
#submit_comment {
	width:69px;
	height:22px;
	float:right;
	text-indent:-99999em;
	display:block;
	border:none;
	background:url('images/comment_form_input.jpg') left top no-repeat;
}
#comments .comment {
	width:600px;
	float:left;
	padding:18px 10px 18px 10px;
	border-bottom:1px solid #e3dfd6;
}
#comments .comment .comment_author_av {
	width:50px;
	height:50px;
	float:left;
}
#comments .comment .comment_right {
	width:530px;
	float:right;
}
#comments .comment .comment_right h4 {
	width:530px;
	float:left;
	font-weight:bold;
	color:#0e4281;
	line-height:16px;
}
#comments .comment .comment_right p {
	width:530px;
	float:left;
	color:#252525;
	line-height:16px;
}
#comments .comment .comment_right span {
	width:530px;
	float:left;
	color:#252525;
	line-height:16px;
}
#comments .comment .comment_right span a { color:#0e4281; }
#comments .comment .comment_right span cite { font-style:normal;color:#b7b7b7; }
#blog_tags {
	margin-bottom: 30px;
}
#blog_tags a {
	color:#a40000;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
}

#blog_archives {
	margin-bottom:30px;
	border-top: solid 1px #EBE4D4;
}
#blog_archives li {
	position:relative;
	float:left;
}
#blog_archives li a {
	width:280px;
	float:left;
	position:relative;
	border-bottom: solid 1px #EBE4D4;
	padding: 9px 20px 11px 0;
	font-family: Gotham-Medium;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	color: #A40000;
	background: url(../images/red_arrow.png) no-repeat right 14px;
}
#blog_archives li.open a { background: url(../images/red_arrow_down.png) no-repeat right 14px; }
#blog_archives .archives_year { display:none; }
#blog_archives .archives_year li a { width:265px;background: url(../images/red_arrow.png) no-repeat right 14px;padding: 9px 20px 11px 15px; }
#blog_archives .archives_year li.open a { background: url(../images/red_arrow_down.png) no-repeat right 14px; }
#blog_archives .archives_year .archives_month { display:none; }
#blog_archives .archives_year .archives_month li a { width:250px;background-image:none;padding: 9px 20px 11px 30px; }
/* = Blog Landing Page
-------------------------------------------------------------- */

.category_title {
	width:592px;
	float:left;
	line-height:30px;
	font-size:14px;
	text-transform:uppercase;
	color: #0E4281;
    font-family:'Dispatch-Bold';
	padding:0 18px 0 10px;
	border-top: 1px solid #DCD5C9;
	border-bottom: 1px solid #DCD5C9;
	font-weight:normal;
	background:url('images/blue_arrow.jpg') right top no-repeat;
}
.category_title a { 
	font-size:14px;
	text-transform:uppercase;
	color: #0E4281;
    font-family:'Dispatch-Bold';
	font-weight:normal;
}
.category_title span {
	float:right;
	font-size:10px;
	color: #0E4281;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
}
.category_title span a {
	font-size:10px;
	color: #0E4281;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
}
.category_posts {
	width:620px;
	float:left;
	padding:20px 0 20px 0;
}
.category_posts .post {
	width:300px;
	float:left;
}
.category_posts .post img.author {
	width:87px;
	height:100px;
	float:left;
}
.category_posts .post .post_right {
	width:200px;
	float:right;
}
.category_posts .post .post_right h4 {
	width:200px;
	float:left;
	color:#a40000;
	font-size:12px;
	line-height:13px;
	font-family:'Gotham-Medium';
	text-transform:uppercase;
}
.category_posts .post .post_right cite {
	width:200px;
	float:left;
	color:#252525;
	font-size:12px;
	line-height:13px;
	font-style:normal;
}
.category_posts .post .post_right h5 {
	width:200px;
	float:left;
	color:#252525;
	font-size:10px;
	line-height:20px;
	font-style:normal;
	font-family:'Gotham-Medium';
	text-transform:uppercase;
}
.category_posts .post .post_right p {
	width:200px;
	float:left;
	color:#252525;
	font-size:12px;
	line-height:16px;
}
.category_posts .post .post_right em {
	width:200px;
	float:left;
	color:#a40000;
	font-size:10px;
	text-align:right;
	font-style:normal;
	font-family:'Gotham-Medium';
	text-transform:uppercase;
}
.category_posts .post .post_foot {
	width:300px;
	float:left;
	margin:10px 0 0 0;
}
.category_posts .post .post_foot span {
	float:left;
	font-size:10px;
	color:#a40000;
	font-style:normal;
	font-family:'Gotham-Medium';
	text-transform:uppercase;
}
.category_posts .post .post_foot span cite {
	float:right;
	font-size:10px;
	color:#a40000;
	font-style:normal;
	font-family:'Gotham-Medium';
	text-transform:uppercase;
}
.category_posts .post .post_foot .posted {
	width:300px;
	color:#252525;
}
.category_posts .post .post_foot .comments {
	width:95px;
}
.category_posts .post .post_foot .views {
	width:95px;
	text-align:center
}
.category_posts .post .post_foot .rating {
	width:110px;
	text-align:right;
}
.category_posts .post .post_foot .unattained_star {
	color: gray;
}
#blog_tags {
	margin-bottom: 30px;
}
#blog_tags a {
	color:#a40000;
	text-transform:uppercase;
	font-family:'Gotham-Medium';
}
